@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<TananyagKovetesRekaEsAHaromBalazs.Dnn.TananyagKovetes.Models.Lessons>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using System.Linq
@using Dnn.Modules.Console



<div id="Items-@Dnn.ModuleContext.ModuleId">

    
            
                <div style="width: 75%;">
                    <div style="float: left; width: 100%; background-color: #f3ebe3; ">
                        <div style="height: 150px; margin: auto; ">
                            <h2>Sikeresen feliratkoztál!</h2>

                            <div style="float: left;">
                                <a class="btn" href="@Url.Action("Index", "Item")">Vissza az bérleteimhez</a>
                            </div>
                        </div>
                    </div>
                </div>
            
  
</div>
